/* LESS */

@width: 30px;
@gutter: 10px;
@totalwidth: ((@width + @gutter)*24) - @gutter;
.span(@cols:1) {width:((@width) * @cols)+((@cols - 1) * @gutter);float:left;margin-right:@gutter;}
.last{margin-right:0;}
.container {width: @totalwidth;margin: 0 auto;}.wrapper {width: @totalwidth + 10px;margin: 0 auto;}

/* MISC */

div.prepend-top, .prepend-top { margin-top:1.5em;}div.append-bottom, .append-bottom {margin-bottom:1.5em;}.box {padding: 1.5em;margin-bottom: 1.5em;background: #e5eCf9;}.clearfix:after, .container:after {content: "\0020";display: block;height: 0;clear: both;visibility: hidden;overflow:hidden;}.clearfix, .container {display: block;}.clear { clear:both; }

/* MEDIA QUERIES */

@media only screen and (min-width: 400px) {
	@width: 20px;
	@gutter: 5px;
	@totalwidth: ((@width + @gutter)*24) - @gutter;
	.container {width: @totalwidth;margin: 0 auto;}.wrapper {width: @totalwidth + 10px;margin: 0 auto;}
	.span(@cols:1) {width:((@width) * @cols)+((@cols - 1) * @gutter);float:left;margin-right:@gutter;}
}


@media only screen and (min-width: 1000px) {
	@width: 40px;
	@gutter: 15px;
	@totalwidth: ((@width + @gutter)*24) - @gutter;
	.container {width: @totalwidth;margin: 0 auto;}.wrapper {width: @totalwidth + 10px;margin: 0 auto;}
	.span(@cols:1) {width:((@width) * @cols)+((@cols - 1) * @gutter);float:left;margin-right:@gutter;}
}